<nav class="navbar navbar-dark bg-success mb-4">
  <div class="container">
    <span class="navbar-brand">Jack Lacter's is proud to present ...</span>
  </div>
</nav>

<router-outlet></router-outlet>
<nav class="navbar navbar-dark bg-success mb-4">
  <div class="container">
    <div class="navbar-brand">© 2026 Jérôme Ponchant - Tous droits réservés.</div>
    <div class="col-4">
      <span class="navbar-brand center"><i>Merci à Julie Baqué pour les photos </i>😊</span>
    </div>
  </div>
</nav>
